# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
*.tfvars
override.tf
override.tf.json

# Schémas générés
*.png

# Secrets
.env
*.pem
*.key

# Python
__pycache__/
*.pyc
.venv/

# OS
.DS_Store
